doctype html
html
  head
    title Harry Dance Academy
    block script 
        include ../static/script.js
    block style
      include ../static/style.css
  body
    nav#navbar
      ul
          div#logo 
            img(src="/static/img/logo.png")
            |HDA 
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/contact") Contact Us]

    block content 
    fotter#footer 
      |Copywrite @2023 Harrydanceacademy.com |Hacker_addy team 